.DS_Store
tmp
.ignore
*.aux
*.log
*.pdf
*.synctex.gz
*.ignore.doc
*~
*.bak
*.out
.markdown-preview.html
\#*\#
.\#*
*.toc


.\#
## For plat different
.platform/platform.mk
.platform/md5.*


*.htmlout


## for bibtex
*.bbl
*.blg
