.DS_Store
hi
ih
ih.exe
*.c.html
*.c.css
*.c.js
blog.c.js
css.frame.c.css
home.c.html
nav.c.js
tmp
jd_root.txt
root.txt
blog/test
blog/test
.ignore
*.aux
*.log
*.pdf
*.synctex.gz
*.ignore.doc
*~
*.bak
.markdown-preview.html
\#*\#
.\#


## For update remote
.update_tmp
## For plat different
.platform/platform.mk
.platform/md5.*
auto
