
/* css.frame.css */


.amazon iframe
{
  border: none;
  text-align: center;
}

.qinkalogo
{
   width:70%;
   vertical-align: middle;
}

a:link
{
  color: #7FF3FF;
}
a:visited
{
  color: #d5d5d5;
}

.title
{
  text-align: center;
}
body
{
  background:#282828;
  color:#ededed;
}
.navs
{
  width: auto;
  height: auto;
  list-style-type: none;
}

.navs ul
{
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  margin:0;
  padding:0;
}

.navs ul li
{
  width: auto;
  height: auto;
  float: left;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navs ul li a
{
  width: auto;
  height: auto;
  background: #111111;
  color: #EEEEEE;
  font-weight: bold;
  font-size: 25px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #7FF3FF;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.bottom
{
  text-align: center;
}
.gitfokme
{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.bloglist li
{
  list-style: none;
}

.bloglist ul
{
  margin-left: -27px;
}

.bloglist li a:visited, a:link
{
  text-decoration: none;
}
.homemain h1
{
  text-align: center;
}


/* for moble */
@media only screen and (max-width:760px),(min-device-width: 768px) and (max-device-with: 1024px){
  .title
  {
    color: #FFF4B1;
    margin-left: -50px;
  }

  .gitfokme
  {
    width: 30%;
  }
  .bottom
  {
    color: #FFDDFF;
  }
}
/* for pc small screen */
@media screen and (min-width:768px){
  .navs
  {
    margin-left: 15px;
  }
  .title
  {
    color: #FFDDFF;
  }
  .homemain
  {
    margin-left: 30px;
  }
  .bottom
  {
    color: #FFF4B1;
  }
}
/* for large screen */
@media screen and (min-width:1000px) {
  body
  {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .title
  {
    font-size: 80px
  }
  .homemain h1
  {
    margin-left: -40px;
  }
}
