
/* css.frame.css */


.amazon
{
  border: none;
  text-align: center;

}


.summaryP
{
  border-style: dotted;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

.qinkalogo
{
   width:70%;
   vertical-align: middle;
}

a:link
{
  color: #e71c46;
}
a:visited
{
  color: #cf2717;
}

.title
{
  text-align: center;
  letter-spacing: -.1em;
  position: relative;
  /*text-shadow: 1px 0 1px,0 1px 1px, 0 -1px 1px, 1px 0 1px;*/
}
.title span
{
  letter-spacing: -.1em;
  word-spacing: normal;
}
body
{
  background:#080808;
  color:#ededed;
}

.navs ul
{
  float: right;
  padding: 70px 15 30 30px;
}

.navs ul li
{
  margin: 0 0 0 5px;
  padding-bottom: 20px;
  float: left;
  list-style: none;
}

.navs ul li a
{
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px 8px 12px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transform: all 0.4s ease-in-out;
  -o-transform: all 0.4s ease-in-out;
  transform: all 0.4s ease-in-out;
}

.navs ul li a:hover,
.navs ul li a:focus
{
  background: rgba(255,255,255,0.10);
}

.bottom
{
  text-align: center;
}
.gitfokme
{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.bloglist li
{
  list-style: none;
}

.cir
{
  margin-bottom: -5px;
  padding-left: 4px;
}

.bloglist ul
{
  margin-left: -27px;
}

.bloglist li a:visited, a:link
{
  text-decoration: none;
}
.homemain h1
{
  text-align: center;
  color:#e865b8;
}
.homemain h2
{
  color:#e85e39;
}
.homemain h4
{
  color: #be86e9
}

.homemain sup cite
{
  color:#8697d6;
  text-shadow:.2px 0 .2px,0 .2px .2px, 0 -.2px .2px, .2px 0 .2px;
}


/* for moble */
@media only screen and (max-width:760px),(min-device-width: 760px) and (max-device-with: 1024px){
  .title
  {
    color: #FFF4B1;
    margin-left: -50px;
  }

  .gitfokme
  {
    width: 30%;
  }
  .bottom
  {
    color: #FFDDFF;
  }
}
/* for pc small screen */
@media only screen and (min-width:760px) and (max-width:1000px){
  .navs
  {
    margin-left: 15px;
  }
  .title
  {
    color: #FFDDFF;
  }
  .homemain
  {
    margin-left: 30px;
  }
  .bottom
  {
    color: #FFF4B1;
  }
}
  .gitfokme
  {
    width: 12%;
  }
/* for large screen */
@media screen and (min-width:1000px) {
  body
  {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .gitfokme
  {
    width: auto;
  }
  .title
  {
    font-size: 80px
  }
  .homemain h1
  {
    margin-left: -40px;
  }
}
