
/* css.frame.css */


.amazon
{
  border: none;
  text-align: center;

}


.summaryP
{
  border-style: dotted;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.qinkalogo
{
   width:70%;
   vertical-align: middle;
}

a:link
{
  color: #7FF3FF;
}
a:visited
{
  color: #d5d5d5;
}

.title
{
  text-align: center;
  *word-spacing: -.1em;
  position: relative;
  /*text-shadow: 1px 0 1px,0 1px 1px, 0 -1px 1px, 1px 0 1px;*/
}
.title span
{
  letter-spacing: -.1em;
  word-spacing: normal;
}
body
{
  background:#080808;
  color:#ededed;
}
.navs
{
  width: auto;
  height: auto;
  list-style-type: none;
}

.navs ul
{
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  margin:0;
  padding:0;
}

.navs ul li
{
  width: auto;
  height: auto;
  float: left;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navs ul li a
{
  width: auto;
  height: auto;
  background: #111111;
  font-weight: bold;
  font-size: 25px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  /*
  #ff9900
  #ff0099
  #cc00ff
  #11c2ee
  */
}
.bottom
{
  text-align: center;
}
.gitfokme
{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.bloglist li
{
  list-style: none;
}

.bloglist ul
{
  margin-left: -27px;
}

.bloglist li a:visited, a:link
{
  text-decoration: none;
}
.homemain h1
{
  text-align: center;
  color:#e865b8;
}
.homemain h2
{
  color:#e85e39;
}

.homemain sup cite
{
  color:#8697d6;
  text-shadow:.2px 0 .2px,0 .2px .2px, 0 -.2px .2px, .2px 0 .2px;
}


/* for moble */
@media only screen and (max-width:760px),(min-device-width: 768px) and (max-device-with: 1024px){
  .title
  {
    color: #FFF4B1;
    margin-left: -50px;
  }

  .gitfokme
  {
    width: 30%;
  }
  .bottom
  {
    color: #FFDDFF;
  }
}
/* for pc small screen */
@media screen and (min-width:768px){
  .navs
  {
    margin-left: 15px;
  }
  .title
  {
    color: #FFDDFF;
  }
  .homemain
  {
    margin-left: 30px;
  }
  .bottom
  {
    color: #FFF4B1;
  }
}
/* for large screen */
@media screen and (min-width:1000px) {
  body
  {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .title
  {
    font-size: 80px
  }
  .homemain h1
  {
    margin-left: -40px;
  }
}
