/* new version for hacking theme */

/* setting the font family of the hole pages */
html{
    font-family: monospace;
}

/* for setting the some basic settings of the page */
body{
    background: #151515; /* set the background to a dark color */
    width: 90%;          /* width will be 90% of the full width */
    max-width: 800px;    /* the max of the width is 90% */
    margin: 0 auto;      /* site the margin */
    color:#ededed;
    margin-bottom:60px;
}

/* for head */
.amenulink,
.amenulink:link,
.amenulink:visited,
.title .qinka,
.title .qinka code{      /* setting the font size, bg-color, the font-color */
    font-size: 100%;     /* for the 'img for Qinka                          */
    background: #151515;
    color: #b5e853;
}

.title{                  /* setting the color and foot size of the title part */
    color: #b5e853;
    font-size: 20px;
}

.title pre{              /* setting closer between the lines in <pre> */
    margin-top: 0;
    margin-bottom: 0;
}

.title pre,              /* setting the color and bg-color of the <pre><code> in the title */
.title pre code{
    font-family: monospace;
    background: #151515;
    color: #b5e853;
}

.title hr{               /* setting the style of the <hr> elements */
    border: 1.4px dashed #b5e853;
}

.list{                   /* setting closer between the lines in .list */
    margin-top: 0;
    margin-bottom: 0;
}

.list ul{                /* setting closer between the lines of the list */
    margin: 0 0 0 0;
    list-style: none;
}

.list ul li:before{      /* bullets of the list to '*' */
    content: '* ';    
}

.how p{                  /* setting closer between the lines */
    margin: 0 0 0 0;
}
.list pre code ul{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50%;
}

.title table tbody,                  
.title table tbody tr,
.title table tbody tr th,
.title table tbody tr th div,
.title table tbody tr th div ul{
    vertical-align: top;
    text-align: left;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 9999;
    text-align: left;
    margin: 0 auto;
    background:#e0e0e0;
    opacity:0.7;
}
.head .head-p{
    background:#222222;
    color: #eeeeee;
    font-size: 25px;
    margin-left:3em;
    margin-right:3em;
}
.head .head-p p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:3em;
    font-style: bold;
}


/* for nav */
nav{
    background: #ffffff;
    margin: 0px auto;
    position:fixed;
    right:10%;
    bottom:0px;
    z-index:9999;
    text-align: left;
    font-family: monospace;
    opacity: 0.7;
}
nav ul{
    float:right;
    padding-right: 40px;
}
nav ul li{
    margin: 0 0 0 5px;
    padding-bottom:0px;
    float:left;
    list-style:none;
}
nav ul li a{
    color: #b5e853;
    background: #202020;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
    padding: 8px 12px 8px 12px;
    text-decoration: none;
}
nav ul li a:link,
nav ul li a:visited{
    color:  #eeeeee;
}
nav ul li a:hover,
nav ul li a:focus{
    color: #eeeeee;
}  

blockquote{
    background-color: #222222;
}

/* default.css */
/*  for summary */
summary{
    border:none;
    text-align:center;
}
/* for fork me */
.gitforkme{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/* for link */                /***** MIGHT NEED CHANGED  ******/
a:link{
    color: #1e90ff;
    text-decoration: none;
}
a:visited{
    color:  #6495ed;
    text-decoration: none;
}

/* hx */
body h1,
body h1 a:link,
body h1 a:visited{
    color: #b5e853;
}
body h1:before{
    content: '# ./';
}

body h2,
body h2 a:link,
body h2 a:visited{
    color: #b5e853;
}
body h2:before{
    content: '$ ./';
}

body h3,
body h3 a:link,
body h3 a:visited{
    color: #b5e853;
}
body h3:before{
    content: '> ./';
}
body summary{
    text-align:left;
}

/* for blog */
#bloglist ul li{
    list-style: none;
}
#bloglist ul li div a div strong{
    font-size:249%;
    color: #9999ff;
}
#bloglist ul li div a div strong:before{
    content: '# ./';
    color: #9999ff;
}
#bloglist ul li div a:link,
#bloglist ul li div a:visited{
    color: #9999ff;
}
#bloglist ul li div a div p{
    color: #cccccc;
}

/* for bottom */
.bottom p{
    margin-bottom:0;
    margin-top:0;
}
/* for icp 备案 格式 */
.icp{
    background: #121212;
}
.icp a:link,
.icp a:visited{
    color: #efefef;
    background: #121212;
}
/* copyright */
#copyright{
    background: #121212;
}
/* power-by */
#powerby{
    background: #121212;
}

.log-id{
    color:#11dd11;
}



/* blog */
#bloglist ul li{
    background-color:#222222;
    margin-top:5px;
    margin-bottom:5px;
}

/* show qr code */
.showqrcode{
    position: fixed;
    width: auto;
    height: auto;
    left: 34%;
    top: 15%;
    background-color: black;
    z-index: 10000;
}
.showqrcode p{
    font-color: white;
    text-align: center;
}




/* for different screen */
/* for moble */
/*
@media only screen and (max-width:760px),(min-device-width:760px) and (max-device-with:1024px){

    
    .gitforkme{
	width: 30%;
    }
    footer{
	color:#FFDDFF;
    }
    
}
*/
 /* for small scren */

@media only screen and (max-width:760px),(min-device-width:760px) and (max-device-with:1024px){
    .head{
	width: 70%;
    }
    .head .head-p{
	margin-left:10px;
	margin-right:10px;
	font-size: 15px;
    }
    .head .head-p p{
	margin-left:10px;
    }
    .navs ul{
	margin-top: 10px;
	margin-bottom:10px;
	padding-left: 10px;
    }
    .navs ul li a{
	font-size: 15px;
    }
    body{
	margin-top:4em;
    }
    
    
    .amenulink,
    .amenulink:link,
    .amenulink:visited,
    .title{
	color:#FFDDEE;
    }
    .title table{
	font-size: 10px;
    }
    .title .qinka,
    .title .qinka code{
	font-size: 60%;
	line-height: 60%;
    }
    footer{
	color:#FF48B1;
    }
    .gitforkme{
	width: 15%;
    }
    .showqrcode{
	left: 0%;
	top: 15%;
    }
    #bloglist ul li div a div strong{
	font-size: 100%;
    }
    #summary{
	font-size: 75%;
    }
    .bottom{
	font-size: 50%;
    }
    .qinka{
	font-weight:900;
    }
}
 /* for normal(large) screen */
 /*
@media only screen and (min-width:1000px){
    body{
	width:80%;
    }
    .gitforkme{
	width:auto;
    }
    footer{
	color: #da70d6;
    }
}*/
