/* default.css */
/*  for summary */
summary{
    border:none;
    text-align:center;
}
/* for fork me */
.gitforkme{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/* for nav */
nav ul{
    float:right;
    padding: 70px 15 30 30px;
}
nav ul li{
    margin: 0 0 0 5px;
    padding-bottom:20px;
    float:left;
    list-style:none;
}
nav ul li a{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    color:  #ff3e96;
}
nav ul li a:hover,
nav ul li a:focus{
    background:rgba(255,255,255,0.10);
    color: #ee799f;
}  
    
body{
    background: #080808;
    color:#ededed;
}


/* for different screen 8/
/* for moble */
@media only screen and (max-width:760px),(min-device-width:760px) and (max-device-with:1024px){
    .title{
	color:#FFF4B1;
	margin-left: -50px;
    }
    .gitforkme{
	width: 30%;
    }
    footer{
	color:#FFDDFF;
    }
}
/* for small scren */
@media only screen and (min-width:760px) and (max-width:1000px){
    nav{
	margin-left: 15px;
    }
    .title{
	color:#FFDDEE;
    }
    footer{
	color:#FF48B1;
    }
    .gitforkme{
	width: 12%;
    }
}
/* for normal(large) screen */
@media only screen and (min-width:1000px){
    body{
	margin-left:auto;
	margin-right:auto;
	width:80%;
    }
    .gitforkme{
	width:auto;
    }
    .title{
	font-size:80px;
    }
}
